h1 {
    text-align: center;
}
.aboutEvent {
    display: flex;
    padding : 20px 50px 50px;
    align-items: center;
}
.aboutEvent img {
    padding-left: 20px;
    height: 150px;
}



/* Sponsors */
.sponsors
{
    margin-top: 80px;
}


.sponsors h2 {
    text-align: center;
}

.sponsors p 
{
    text-align: center;
}


.sponsors img
{
width: 15%;
height: 30%;
}

.lineSponsor1
{
    display: flex;
    justify-content: center;

}

.lineSponsor2
{
    display: flex;
    justify-content: center;
}

footer
{
    background-color: #1E0847;
    height: 100%;
}

footer a,footer p
{
    display:flex;
    align-items: center;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 8px 10px;
}



/*  */